.containers {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  width: 100%;
}

.draggable-item {
  position: relative;
  /* padding: 8px 16px; */
  margin-bottom: 8px;
  background: #fff;
  /* border: 1px solid #333; */
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.15);
}

.draggable-item:hover {
  background-color: #ccc;
}

.droppable-container {


  /* border: 1px solid #333; */
  border-radius: 4px;
  min-height: 100px;
  min-width: 100%;
  width: 100%;
}